jvx-spring-security-server/.classpath
jvx-spring-security-server/.project
jvx-spring-security-server/.settings/org.eclipse.jdt.core.prefs
jvx-spring-security-server/.settings/org.eclipse.m2e.core.prefs
jvx-spring-security-client/.settings/org.eclipse.jdt.core.prefs
jvx-spring-security-client/.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.m2e.core.prefs
jvx-spring-security-client/.classpath
